In [92]:
#import all the models nd utils needed
import pandas as pd 
import seaborn as sns
import numpy as np 
from sklearn.linear_model import LinearRegression,LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
from sklearn.ensemble import RandomForestRegressor
from sklearn.neural_network import MLPClassifier
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.datasets import make_friedman2
from sklearn.gaussian_process import GaussianProcessRegressor
from sklearn.gaussian_process.kernels import DotProduct, WhiteKernel
from sklearn.linear_model import SGDRegressor
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import RANSACRegressor
from sklearn.linear_model import Ridge
from sklearn import linear_model
from sklearn.linear_model import HuberRegressor
from sklearn.ensemble import VotingRegressor

In [2]:
df=pd.read_csv('all_perth_310121.csv')
#df[df['NEAREST_SCH_RANK'].isnull()]

In [3]:
#df.isnull().sum(),df.corr() // check null values

In [4]:
x=df.drop(['PRICE','GARAGE','LAND_AREA','NEAREST_STN_DIST','POSTCODE','LATITUDE','NEAREST_SCH_DIST','NEAREST_SCH_RANK'],axis=1)
x=x.drop(['ADDRESS','SUBURB','NEAREST_STN','NEAREST_SCH'],axis=1)
x.dropna(inplace=True)
x['DATE_SOLD']=pd.to_numeric(x.DATE_SOLD.str[3:-1])
tr2=temp3 = x.index.tolist()
#some data cleaning nd prep

,BEDROOMS,BATHROOMS,FLOOR_AREA,BUILD_YEAR,CBD_DIST,DATE_SOLD,LONGITUDE
0,4,2,160,2003.0,18300,2018,115.842450
1,3,2,139,2013.0,26900,2019,115.859554
2,3,1,86,1979.0,22600,2015,115.993579
3,2,1,59,1953.0,17900,2018,116.038009
4,4,1,131,1998.0,11200,2016,115.947780
...,...,...,...,...,...,...,...
33648,3,2,108,2011.0,24900,2016,115.858357
33649,4,2,132,2014.0,17100,2015,116.013543
33650,3,2,127,1997.0,16000,2019,115.756070
33651,4,3,245,2013.0,16100,2016,115.751820
33654,3,1,85,1974.0,12600,2016,115.842410

In [5]:
y=df['PRICE']
tr1=y.index.tolist()
temp3 = [i for i in tr1 if  i not in tr2]
y.drop(temp3,inplace=True)
y

0         565000
1         365000
2         287000
3         255000
4         325000
          ...
33648     423000
33649     467000
33650     955000
33651    1040000
33654     295000
Name: PRICE, Length: 30501, dtype: int64

                                                FEATURES ND LABELS ARE READYY

In [117]:
X_train, X_test, y_train, y_test=train_test_split(x,y,test_size=0.2,random_state=100)

In [118]:
#testing different model 
model3=LinearRegression()#-->0.5155059008514132
model1=RandomForestRegressor()#-->0.7699559604845458
#model=MLPClassifier(solver='lbfgs', alpha=1e-5,hidden_layer_sizes=(5, 2), random_state=1)-->-0.35419387776001776
model2=GradientBoostingRegressor(random_state=1)#-->0.7332387853148312
#model=LogisticRegression(random_state=2)-->-0.2730359190548861
#model=KNeighborsRegressor(n_neighbors=2)-->0.416104524685567
model4=make_pipeline(StandardScaler(),SGDRegressor(max_iter=1000, tol=1e-3))#-->0.5113128813943622
#model=RANSACRegressor(random_state=0)-->0.3017608935218019
model5=Ridge(alpha=1.0)#-->0.5155059008514168
#model=linear_model.Lasso(alpha=0.1)
#model=HuberRegressor()-->0.46630901878370745
#model=linear_model.Lars(n_nonzero_coefs=1)-->0.17575325344680282
#model=VotingRegressor(estimators=[('gb', model1), ('rf', model2)])#-->0.8988486083186695
model=VotingRegressor(estimators=[('gb', model1), ('rf', model2), ('lr', model3),])#--0.8310279197904944

In [119]:
model.fit(X_train,y_train)
model.score(X_train,y_train)

0.8280329981399263

In [120]:
predictions=model.predict(X_test)
r2_score(y_test,predictions)

0.7522660195599247